#{
	margin: 0;
	padding: 0;
	font-family: arial;
}

section{
	width: 100%;
	height: 800px;
	float: left;
}

#page1{
	background-color: white;
	width: 100%;
	height: 50px;
	float: left;
}
#page2{
	background-image: url("1.png");
	width: 100%;
	height: 600px;
	float: left;
}
#page3{
	background-image: url("2.png");
	width: 100%;
	height: 600px;
	float: left;
}
#page4{
	background-image: url("3.png");
	width: 100%;
	height: 800px;
	float: left;
}
#page5{
	background-image: url("4.png");
	width: 100%;
	height: 800px;
	float: left;
}
#page6{
	background-image: url("3.png");
	width: 100%;
	height: 800px;
	float: left;
}

#button1 , #button2 {
display:inline-block;
}

#head1 , #imgA1 , #imgA2 , #head2 {
	display:inline-block;
}

#head3 , #imgA1 , #imgA2 , #head4 {
	display:inline-block;
}
#head5 , #imgA1 , #imgA2 , #head6 {
	display:inline-block;
}

#p1 , #p2 , #p3 {
	display: inline-block;
}
#p4 , #p5 , #p6 {
	display: inline-block;
}

#K1 , #K2 , #K3, #K4, #K5, #K6 {
	display: inline-block;
}
